@page
@model MiniTwit.Pages.Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "Shared/_Layout";
}

<div>
    <h2>Sign In</h2>
      @* {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %} *@
      <form action="" method=post>
        <dl>
          <dt>Username:
          <dd><input type="text" asp-for="Username" size="30">
          <dt>Password:
          <dd><input type="password" asp-for="Password" size="30">
        </dl>
        <div class="actions"><input type="submit" value="Sign In"></div>
      </form>
</div>