@page "/"
@using MiniTwit.Repositories
@model MiniTwit.Pages.MyTimeline
@inject IMessageRepository MessageRepository
@inject IUserRepository UserRepository
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "My Timeline | MiniTwit";
    Layout = "Shared/_Layout";
    var messages = await MessageRepository.GetFromFollows();
}

<div>
    <h2>My Timeline</h2>
    <div class="twitbox">
            <h3>What's on your mind @((await UserRepository.GetCurrent()).Username)?</h3>
            <form method="post">
              <p><input type="text" asp-for="Text" size="60">
              <input type="submit" value="Share">
            </form>
          </div>
    <ul id="messagelist" class="messages">
            @foreach (var m in messages)
            {
                <li>
                    <img style="width: 48px; height: 48px;" src="https://api.dicebear.com/5.x/identicon/svg?seed=@m.Author.Username">
                    <strong><a href="/@m.Author.Username">@m.Author.Username</a></strong>
                    @m.Text
                    <small>&mdash; @m.PublishDate</small>
                </li>
            }
            @if (!messages.Any())
            {
                <li><em>There's no message so far.</em></li>
            }
        </ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/realtime.js"></script>
<script src="~/js/realtime_mytimeline.js"></script>