@page
@using MiniTwit.Repositories
@model MiniTwit.Pages.Public
@inject IMessageRepository MessageRepository

@{
    ViewData["Title"] = "Welcome | MiniTwit";
    Layout = "Shared/_Layout";
    var messages = await MessageRepository.Get();
}

<div>
    <h2> Public Timeline </h2>
    <ul id="messagelist" class="messages">
        @foreach (var m in messages)
        {
            @await Html.PartialAsync("_Tweet", m)
        }
        @if (!messages.Any())
        {
            <li><em>There's no message so far.</em></li>
        }
    </ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/realtime.js"></script>
<script src="~/js/realtime_public.js"></script>