@page "/{username?}"
@using MiniTwit.Services
@model MiniTwit.Pages.UserTimeline
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IMessageRepository MessageRepository
@inject IUserRepository UserRepository

@{
    Layout = "Shared/_Layout";
    var messages = await MessageRepository.GetByUser(Model.Username);
    var currentUser = await UserRepository.GetCurrent();
}

<div>
    <h2> @Model.Username's Timeline </h2>
        @if (currentUser != null)
        {
            @if (currentUser.Username == Model.Username)
            {
                <span>This is you!</span>
            }
            else if (await UserRepository.IsFollowing(Model.Username))
            {
                <div>
                    You are currently following this user.
                    <form method="post" class="inline">
                        <button type="submit" class="link-button">
                            <strong>Unfollow user</strong>
                        </button>
                    </form>
                </div>
            } else
            {
                <div>
                    You are not yet following this user.
                    <form method="post" class="inline">
                        <button type="submit" class="link-button">
                            <strong>Follow user</strong>
                        </button>
                    </form>
                </div>
            }
        }
        <ul class="messages">
            @foreach (var m in messages)
            {
                <li>
                    <img style="width: 48px; height: 48px;" src="https://api.dicebear.com/5.x/identicon/svg?seed=@m.Author.Username">
                    <strong><a href="/@m.Author.Username">@m.Author.Username</a></strong>
                    @m.Text
                    <small>&mdash; @m.PublishDate</small>
                </li>
            }
            @if (messages.Count() == 0)
            {
                <li><em>There's no message so far.</em></li>
            }
        </ul>
</div>