@inherits LayoutComponentBase

<div class="page">

    <h1>MiniTwit</h1>
    <div class=navigation>
        <NavMenu />
    </div>

    <article class=body>
        @Body
    </article>

    <div class=footer>
        MiniTwit &mdash; An ASP.NET Core Application
    </div>

    <div class="sidebar">
        <NavMenu />
    </div>
</div>

