<div class="flex-row">
    <div class="nav-item px-3">
        <NavLink class="twit-link" href="" Match="NavLinkMatch.All">
            <div class="link-content">
                <span class="oi oi-home" aria-hidden="true"></span> public timeline
            </div>
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="twit-link" href="counter">
            <div class="link-content">
                <span class="oi oi-account-login" aria-hidden="true"></span> sign up
            </div>
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="twit-link" href="fetchdata">
            <div class="link-content">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> sign in
            </div>
        </NavLink>
    </div>
    
    <LoginDisplay />

</div>