.navigation {
    background: #DEE9E8;
    padding: 4px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    color: #888;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.navigation a {
    color: #444;
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.link-content {
    color: black;
    border: none;
}