@page "/"
@using itu_minitwit.Shared
@using Components
@using itu_minitwit.Client.Services
@inject IMessageService messageService

<PageTitle>Public</PageTitle>

<h1>Public Timeline</h1>

@if (_messages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach(var msg in _messages)
    {
        <Tweet Message="@msg"/>
    }
}

@code {
    private IEnumerable<MessageDto> _messages;

    protected override async Task OnInitializedAsync()
    {
        _messages = await messageService.GetTimeline();
    }
}

