@page
@using ituminitwit.Server.Interfaces.Repositories
@model itu_minitwit.Server.Pages.Public
@inject IMessageRepository MessageRepository

@{
    Layout = "Shared/_Layout";
    var messages = await MessageRepository.Get();
}

<!DOCTYPE html>

<html>
<head>
    <title> Public Timeline </title>
        <link href="/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div>
    <h2> Public Timeline </h2>
    <ul class=messages>
        @foreach (var m in messages)
        {
            <li>
                <img src="https://ui-avatars.com/api/?name=@m.Author.Email&size=48">
                <strong><a href="/user/@m.Author.Id">@m.Author.UserName</a></strong>
                @m.Text
                <small>&mdash; @m.PublishDate</small>
            </li>
        }
        @if (messages.Count() == 0)
        {
            <li><em>There's no message so far.</em></li>
        }
    </ul>
</div>
</body>
</html>